include README.rst AUTHORS.rst LICENSE.txt default_parameters.json parameter_descriptions.json
graft lib
prune docs
prune tutorials
prune .ci
exclude .clang-format
exclude .gitattributes
exclude .gitignore
exclude .pre-commit-config.yaml
