include README.md AUTHORS.rst HISTORY.rst LICENSE.txt requirements.txt 
global-include default_parameters.json parameter_descriptions.json frank.mplstyle
prune docs
prune .ci
exclude .clang-format
exclude .gitattributes
exclude .gitignore
