.wy-side-nav-search, .wy-nav-top {
  background: #616161;
}

.wy-menu > .caption > span.caption-text {
  color: #51DA0C;
}

.strike {
  text-decoration: line-through;
}

.nbinput .prompt, .nboutput .prompt {
    display: none;
}
